.movie {
  background-color: white;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie__title,
.movie__year {
  margin: 0;
}

.movie_img {
  border-radius: 10px;
  margin-left: 3px;
}

a {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

.movie_genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.movie_genres li {
  margin-right: 10px;
}

h4 {
  font-weight: 620;
}
